/.claude
/docs
/vendor/
/node_modules/
/assets/dist/
/apps/admin/.dev
/.DS_Store
.idea/
.vscode/
/composer.lock
/pnpm-lock.yaml
/package-lock.json
/yarn.lock
*.log
*.map
/build/
/release/
/filebird-pro/
CLAUDE.md